/* Mobile & Tablet */

@media (max-width: 1023px) {
   
    .hide-on-mobile-tablet {
        display: none;
    }
    .content-right{
        width: auto;
        margin: 0;
    }
    .menu-mini{
        display: block;
    }
    .content{
        display: block;
    }
    .content-right-heading{
        margin: 0;
    }
    .content-right-main{
        padding: 0 16px;
    }
    .content-right-heading,.content-right-title{
        padding: 0;
    }
    .content-right-example{
        margin-left: 0;
    }
    .content-right-item{
        width: unset;
    }
    .content-right-item:first-child{
        height: auto;
    }
    .content-right-services-main, .content-right-designers-main{
        margin-left: 0;
    }
    .content-right-designers-introduce{
        margin-left: 0;
    }
    .content-right-designers-introduce-item{
        width: 235px;
    }
    .content-right-packages-main,.content-right-contact-main{
        margin-left: 0;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 130px;
       
    }
}

/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
        
    }
    .content-right-heading{
        font-size: 4rem;
        text-align: center;
    }
    .content-right-name{
        font-size: 3.5rem;
        text-align: center;
        line-height: unset;
    }
    .content-right-line{
        width: 100%;
    }
    .content-right-example{
        flex-direction: column;
    }
    .content-right-item{
        height: auto;
        padding-bottom: 8px;
    }
    .content-right-list:first-child{
        padding-right: 0;
    }
    .content-right-list:last-child{
        padding-left: 0;
    }
    .content-right-list{
        margin: 0;
    }
    .content-right-services-main,.content-right-designers-main,.content-right-designers-introduce-heading{
        text-align: center;
    }
    .content-right-designers-introduce-list{
        flex-direction: column;
    }
    .content-right-designers-introduce-item{
        width: 100%;
        margin-bottom: 16px;
    }
    .content-right-packages-main{
        flex-direction: column;
    }
    .content-right-packages-basic,.content-right-packages-pro{
        width: 100%;
    }
    .content-right-packages-basic{
        padding-right: 0;
    }
    .content-right-packages-pro{
        padding-left: 0;
    }
}