*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #f1f1f1;
    
}
body{
    margin: 0;
}
.content{
    display: flex;
}
.content-left{
    width: 268px;
    padding: 8px 16px;
    background-color: #f44336;
    height: 1000px;
}
.content-left-name{
    font-size: 2.4rem;
    color: #ffffff;
    padding: 86px 16px 64px 16px;
    margin-bottom: 0;
}

.content-left-list{
    list-style: none;
    padding-left: 0;
}
.content-left-link:hover{
    background-color: #ffffff;
    color: #000 ;
    text-transform: uppercase;
}
.content-left-link{
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-weight: 600;
    line-height: 2.7rem;

}
.content-right{
    padding: 0 40px;
    background-color: #ffffff;
    width: 100%;
}
.content-right-heading{
    padding: 0 16px;
    margin-top: 80px;
    font-size: 6.4rem;
    line-height: 10rem;
    margin-bottom: 0;
}
.content-right-title{
    padding: 0 16px;
}
.content-right-name{
    font-size: 4.8rem;
    color: #f44336;
    margin: 20px 0;
    line-height: 6rem;
    font-family: 'Poppins', sans-serif;
}
.content-right-line{
    width: 50px;
    background-color: #f44336;
    height: 10px;
    border-radius: 4px;
}
.content-right-list{
    padding-left: 0;
}
.content-right-example{
    margin-top: 40px;
    display: flex;
}
.content-right-img{
    width: 545px;
    height: 303px;
}