*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #f1f1f1;
    
}
body{
    margin: 0;
   
}
.content{
    display: flex;
    
}
.content-left{
    width: 300px;
    padding: 8px 16px;
    background-color: #f44336;
    position: fixed;
    bottom: 0;
    top: 0;
}
.content-left-name{
    font-size: 2.4rem;
    color: #ffffff;
    padding: 86px 16px 64px 16px;
    margin-bottom: 0;
}

.content-left-list{
    list-style: none;
    padding-left: 0;
}
.content-left-link:hover{
    background-color: #ffffff;
    color: #000 ;
    text-transform: uppercase;
}
.content-left-link{
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-weight: 600;
    line-height: 2.7rem;

}
.content-right{
    
    background-color: #ffffff;
    width: 100%;
    margin-left: 300px;
}
.content-right-main{
    padding: 0 40px;
}
.content-right-heading{
    padding: 0 16px;
    margin-top: 80px;
    font-size: 6.4rem;
    line-height: 10rem;
    margin-bottom: 0;
}
.content-right-title{
    padding: 0 16px;
}
.content-right-name{
    font-size: 4.8rem;
    color: #f44336;
    margin: 20px 0;
    line-height: 6rem;
    font-family: 'Poppins', sans-serif;
}
.content-right-line{
    width: 50px;
    background-color: #f44336;
    height: 10px;
    border-radius: 4px;
}
.content-right-list{
    padding-left: 0;
    list-style: none;
}
.content-right-example{
    margin-top: 40px;
    display: flex;
    margin-left: 16px;
}
.content-right-item{
    width: 545px;
    height: 303px;
    padding-bottom: 16px;
}
.content-right-item:first-child{
    height: 450px;
}
.content-right-img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.content-right-img:hover{
    opacity: 1; 
    cursor: pointer;
}
.content-right-list:first-child{
    padding-right: 8px;
}
.content-right-list:last-child{
    padding-left: 8px;
}
.content-right-services{
    margin-top: 85px;
}
.content-right-services-main,.content-right-designers-main{
    margin-left: 16px;
    
}
.content-right-text,.content-right-description{
    margin: 16px 0;
    font-size: 1.6rem;
    line-height: 2.9rem;
}
.content-right-designers,.content-right-packages{
    margin-top: 85px;
}
.content-right-designers-introduce{
    margin-left: 16px;
}
.content-right-designers-introduce-heading{
    font-size: 1.6rem;
    font-weight: 700;
}
.content-right-designers-introduce-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.content-right-designers-introduce-item{
    width: 358px;
    background-color: #f1f1f1;
}
.content-right-designers-introduce-avatar{
    width: 100%;
}
.content-right-designers-introduce-more{
    padding: 0 16px;
}
.content-right-designers-introduce-name{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 16px 0;
}
.content-right-designers-introduce-job{
    font-size: 1.6rem;
    opacity: 0.6;
    font-weight: 400;
    margin: 32px 0 16px 0;
}
.content-right-designers-introduce-description{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.content-right-packages-list{
    list-style: none;
    padding-left: 0;
}
.content-right-packages-main{
    display: flex;
    margin-left: 16px;
}
.content-right-packages-basic,.content-right-packages-pro{
    width: 545px;
    text-align: center;
    
}
.content-right-packages-basic{
    padding-right:8px;
}
.content-right-packages-pro{
    padding-left: 8px;
}
.content-right-packages-item:first-child{
    padding: 32px 16px;
    font-size: 2.4rem;
    background-color: #616161;
    color: #ffffff;
    line-height: 3.6rem;
}
.content-right-packages-item.active{
    background-color: #f44336;
}
.content-right-packages-item{
    font-size: 1.6rem;
    padding: 16px;
    line-height: 2.4rem;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}
.content-right-packages-item span{
    display: block;
    font-size: 1.6rem;
    opacity: 0.6;
    margin-top: 15px;
}
.content-right-packages-item.price{
    font-size: 3rem;
    padding: 30px 0;
}
.content-right-packages-btn{
    padding: 12px 24px;
    background-color: #ffffff;
    color: #000;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}
.content-right-packages-btn.active{
    background-color: #f44336;
    color: #ffffff;
}
.content-right-packages-btn:hover{
    background-color: #000;
    color: #ffffff;
}
.content-right-contact{
    margin-top: 85px;
}
.content-right-contact-main{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}
.content-right-contact-main label{
    padding-bottom: 5px;
    display: block;
}
.content-right-contact-input{
   padding: 8px;
   border: 1px solid #ccc;
   width: 100%;
   border-radius: 2px;
   line-height: 2.4rem;
}
.content-right-contact-box{
    margin: 12px 0;
}
.btn-submit{
    line-height: 2.4rem;
    padding: 12px 24px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.btn-submit:hover{
    background-color: #ccc;
    color: #000;
}
.footer{
    margin-top: 85px;
    height: 88px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}